/*===========================

--Universal Styling

================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

header{
  padding: 20px;
}

header h1 {
  display: inline-block;
  width: 30%;
}

header nav {
  display: inline-block;
  width: 65;
  text-align: right;
}


/* Element | file:///Users/danharvey/Documents/Website/danielharvey.com/final-website-project/index.html */

body > header:nth-child(1) > a:nth-child(2) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(1) {
  display: inline-block;
}

/* Element | file:///Users/danharvey/Documents/Website/danielharvey.com/final-website-project/index.html */

body > header:nth-child(1) > a:nth-child(2) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(2) {
  display: inline-block;
}
