/*===========================

--Universal Styling

================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

header{
  padding: 20px;
}


header nav {
    display: inherit;
    width: 100%;
    text-align: right;
}

header nav li {
    display: inline-block;
    margin: 0 40px;
    text-align: right;
}

header nav a {
    text-decoration: none;
    font-family: 'Optima', bold;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    transition: .2s;
    text-align: right;
}

header nav a:hover {
    border-bottom: 3px solid #333;
    transition: .2s;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 175px;
}

main {
    min-height: 80vh;
    margin-top: 5%;
}

footer{
  padding: 20px;
}


footer nav {
    display: inherit;
    width: 100%;
    text-align: center;
}

footer nav li {
    display: inline-block;
    margin: 0 40px;
    text-align: right;
}

footer nav a {
    text-decoration: none;
    font-family: 'Optima', bold;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    transition: .2s;
    text-align: center;
}

footer nav a:hover {
    border-bottom: 3px solid #333;
    transition: .2s;
