/*===========================

--Universal Styling

================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*===========================

--Header Styling

================================*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
}

header nav {
    display: inherit;
    max-width: inherit;
    text-align: center;
    position: relative;
    top: -80px;
    right: -200px;
}

header nav li {
    display: inline-block;
    margin: 20px;
    top: 40px;
}

header nav a {
    text-decoration: none;
    font-family: 'Optima', bold;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    transition: .2s;
}

header nav a:hover {
    border-bottom: 3px solid #333;
    transition: .2s;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 185px;
  padding-top: 35px;
  animation: logodrop 1s linear;
}

/*===========================

--Main body Styling

================================*/

main {
  text-align: center;
  text-decoration: none;
  font-family: 'Optima', bold;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-top: 300px;
}

.customtext{
  color: gray;
  font-size: 24px;
  display: block;
}

.container {
  display:inline-block;
  margin-right: auto;
  margin-right: auto;
}

.photography img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  margin: 15px;
  display: inline-block;
  z-index: 99;
}

/*===========================

--Footer Styling

================================*/

.bottomlogo {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 98;
}

.bottomleftlogo {
  float:left;
}


footer{
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: white;
  text-decoration: none;
  font-family: 'Optima', bold;
  font-size: 10px;
  color: #333;
  font-weight: bold;
}


footer nav {
    display: inherit;
    width: inherit;
    text-align: center;
}

footer nav li {
    display: inline-block;
    margin: 0 170px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 214px;
    text-align: center;
}

footer nav a {
    text-decoration: none;
    font-family: 'Optima', bold;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    transition: .2s;
    text-align: center;
}

footer nav a:hover {
    border-bottom: 3px solid #333;
    transition: .2s;


/*===========================

--Animation Styling

================================*/

@keyframes logodrop {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
